@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Esta será la página principal de la aplicación</p>
    <p>Autor: Jorge Luis Chuc López</p>
</div>
